<form>
    <div class="item-emporium" data-item-collection-id="{{id}}"> 
        <input type="text" id="{{id}}.name" value="{{name}}" name="{{id}}.name" data-dtype="String" />
        <button type="button" data-action="save-emporium">
            <i class="fas fa-save"></i> {{localize "SZOTSKI_INV_MANAGER.UI.BUTTONS.SAVE_EMPORIUM"}}
        </button>
    </div>
</form>
